.Burger {
  height: 35vh;
  width: 35vw;
  margin: 120px auto 0 auto;
  // overflow: scroll;
  text-align: center;
  padding: 0;

  .AddingIngr {
    margin: 1em auto;
    font-size: 1.45rem;
    font-weight: bolder;
  }
}

@media (max-width: 986px) {
  .Burger {
    width: 45vw;
    height: 35vh;
    .AddingIngr {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 689px) {
  .Burger {
    width: 52vw;
    height: 40vh;
    .AddingIngr {
      font-size: 1.1rem;
    }
  }
}
@media (max-width: 529px) {
  .Burger {
    width: 62vw;
    height: 35vh;
  }
  .AddingIngr {
    margin: 0.7em auto;
    font-size: 1rem;
  }
}
@media (max-width: 447px) {
  .Burger {
    width: 72vw;
    height: 35vh;
  }
}
@media (max-width: 381px) {
  .Burger {
    width: 82vw;
    height: 38vh;
    margin-bottom: 40px;
  }
  .AddingIngr {
    margin: 0;
    font-size: 0.9em;
  }
}

@media (min-width: 1234px) {
  .Burger {
    height: 40vh;
    width: 35vw;
    font-size: 1.5rem;

    .AddingIngr {
      font-size: 1.8rem;
    }
  }
 }
@media (min-width: 1500px) {
  .Burger {
    height: 45vh;
    width: 26vw;
    font-size: 1.5rem;

    .AddingIngr {
      font-size: 1.6rem;
    }
  }
 }

@media only screen and (max-width: 1024px) and (min-width: 1024px)  and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .Burger {
    height: 30vh;
    width: 40vw;
  }
  .AddingIngr {
    // padding: 1rem 0;
     font-size: 1.3rem;
  }
}
